
.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 92px 24px 96px;
 
}

.header__menu {
  justify-self: center;
  align-self: center;
  min-width: 390px;

}

.header__logo {
  display:block;
  justify-self: center;
  width: 148px;
  height: 105px;
  left: calc(50% - 148px/2 + 2px);
  top: 0px;
}

.header__logo-image {
  display: flex;
  width: 100%;

}


.header__links-list {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  
}

.header__links-list-item {
  list-style: circle;
  margin-left: 11px;
}

.header__links-list-item_no-bullit{
  list-style-type: none;

}


.header__link {

}

.header__link_active {

}

.address {
  display: grid;
  justify-content: end;
  height: 98px;
  font-family: 'Raleway';
  font-style: normal;
  text-underline-offset: 3.5px;
  
}



.header__address {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
/* or 135% */
  color: #000000;

}


.main {
  display: flex;
  flex-direction: column;
  gap: 179px;

}

.cover {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background: no-repeat center/cover url(../images/cover.jpg);
  z-index: -2;
  padding: 165px 50px 50px;

}


.cover__content {
  margin-bottom: 128px;
}


.overlay {
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background: #000;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;

}

.cover__title {
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  line-height:115%;
  letter-spacing: 30px;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px 36px;
}

.aligned-text {
  display: block;
  width: 100%;
  grid-column: 1/4;
}


.letter-spacing-extended {
  letter-spacing: 70px;
}


.aligned-text_center {
  display: block;
  width: 100%;
  grid-column: 2/4;

}

.aligned-text_right {
  display: block;
  width: 100%;
  grid-column: 3/4;

}

.no-letter-spacing {
  letter-spacing: 0;
}


.cover__description {

  display: flex;
  align-items: center;
  justify-content: end;
  gap: 79px;
}

.cover__description-text {
  
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;

  text-transform: uppercase;
  color: #FFFFFF;
  word-spacing: 18px;
}


.bet-button {

/* button */
/* Сделать ставку */
  padding: 12px 31px;
  font-family: 'Raleway';
  font-style: normal;
  background: transparent;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  border: 1px solid #FFF;
  color: #FFFFFF;
}



.lots {
  padding: 0 24px;
 

}

.lots__heading {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  /* identical to box height */
  text-transform: uppercase;
  padding-left: 40px;
  margin-bottom: 27px;
  color: #000000;


}

.lots__card-list {
  display: flex;
  flex-direction: row;
  gap: 25px;
  list-style: none;
  margin-bottom: 30px;
}

.lots__card-list-item {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 334px;
}


.card-link {
  text-decoration: none;
  
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 334px;
  min-height: 563px;
  padding: 51px 40px;
  text-decoration: none;
}


.card_type_film {
  position: relative;
  z-index: -2;
  background-image: url(../images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

.card_type_book {
  position: relative;
  z-index: -2;
  background-image: url(../images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

.card_type_picture {
  position: relative;
  z-index: -2;
  background-image: url(../images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

.card__title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  /* or 26px */
  text-decoration-line: underline;
  text-transform: uppercase;

  color: #FFFFFF;
}

.card__text {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  /* or 24px */
  text-decoration-line: none;
  text-decoration: none;
  text-decoration-color: transparent;
  color: #FFFFFF;
}




.lots__look-more-link {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  margin-left: 40px;
  color: #000000;
}


.about {
  padding: 0 24px;

}

.about__column {
  display: grid;
  grid-template-columns: 334px 1fr;
  row-gap: 0;
  column-gap: 25px;
}

.about__logo {
  justify-self: center;
  width: 240px;
  height: 240px;
  background: #000;
  border-radius: 50%;
  padding-top: 64px;
  padding-left: 46.48px;
  padding-bottom: 62px;
  padding-right: 45.52px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding-top: 100px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  /* identical to box height */
  text-transform: uppercase;

  color: #000000;


}

.about__text {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  gap: 25px;
}



.about__text p {
  
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* or 120% */

color: #000000;
}


.footer {
  display: flex;
  justify-content: space-between;
  padding: 180px 50px 88px;
}

.footer__menu-list {
  list-style: none;
}


.footer__menu-list-item {
  color: #000;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

.footer__menu-link {
  text-decoration: none;
  border-bottom: 1px solid #000;

}

.footer__menu-link_active {
  border-bottom: none;
}

.footer__social-list {
  display: flex;
  gap: 47px;
  list-style: none;

}


.footer__social-icon {
  height: 48px;
}